.board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vmin;
    height: 50vmin;
    margin: 5vmin auto;
}

.playAgainButton {
    margin: 20px 45vw;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}